@import "../variable";

#indeed-sec1 {
    width: 100%;
    z-index: 0;
    opacity: 1;
    transition-duration: 0.3s;
    color: $palette-white;
    background-color: $palette-black;
    min-height: auto;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 150px;

        @include screen-md {
            padding-top: 200px;
        }

        @include screen-lg {
            padding-top: 300px;
        }
    }

    h1 {
        margin-bottom: 0;
        font-size: 2rem;
        text-align: center;
        
        @include screen-sm {
            font-size: 4rem;
        }
    }

    .disclaimer {
        font-size: 9px;

        @include screen-sm {
            font-size: 11px;
            margin-top: 100px;
        }

        &::before {
            position: relative;
            content: "* ";
        }
    }
}

#indeed-sec2 {
    background-color: $palette-black;
    min-height: auto;
}

.indeed-illustration {
    width: 90%;
    max-width: 1000px;
}

#indeed-sec3 {
    .container {
        padding: 50px 1rem;
        display: flex;
        flex-direction: column;

        @include screen-sm {
            padding: 100px 5rem;
        }

        * {
            line-height: 1.6;
        }

        a {
            border-bottom: 2px solid $palette-grey-500;
            color: $palette-black;

            &:hover {
                border-bottom: 2px solid $palette-black;
            }
        }

        h4 {
            font-size: 1.25rem;

            @include screen-sm {
                font-size: 1.5rem;
            }
        }

        img {
            margin: 3rem 0 1rem;
            align-self: center;
            width: 100%;
            max-width: 800px;
        }

        p, li {
            @include screen-sm {
                font-size: 1.25rem;
            }
        }

        ul {
            margin: 0;

            @include screen-sm {
                padding-left: 4rem;
            }
        }

        li {
            padding-bottom: 1rem;
        }
    }
}
