@import "../variable";

#indeed-sec1 {
    width: 100%;
    z-index: 0;
    opacity: 1;
    transition-duration: 0.3s;
    color: $palette-white;
    background-color: $palette-black;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    h1 {
        margin-bottom: 0;
        font-size: 2rem;
        text-align: center;
        
        @include screen-sm {
            font-size: 4rem;
        }
    }

    .disclaimer {
        font-size: 9px;
        margin-top: 100px;

        @include screen-sm {
            font-size: 11px;    
        }

        &::before {
            position: relative;
            content: "* ";
        }
    }
}

#indeed-sec2 {
    background-color: $palette-black;
    min-height: auto;
}

.indeed-illustration {
    z-index: 1;
    background-image: url(/imgs/indeed-oh1.png);
    margin-top: -200px;
    padding-top: 250px;
    background-size: 90%;
    background-position: top center;
    background-repeat: no-repeat;

    @include screen-md {
        padding-top: 560px;
        margin-top: -430px;
        background-size: 70%;
    }

    @include screen-lg {
        padding-top: 600px;
        margin-top: -270px;
        background-size: 60%;
    }
}

#indeed-sec3 {
    .container {
        padding: 50px 1rem;
        display: flex;
        flex-direction: column;

        @include screen-sm {
            padding: 100px 5rem;
        }

        * {
            line-height: 1.6;
        }

        a {
            border-bottom: 2px solid $palette-grey-500;
            color: $palette-black;

            &:hover {
                border-bottom: 2px solid $palette-black;
            }
        }

        h4 {
            font-size: 1.25rem;

            @include screen-sm {
                font-size: 1.5rem;
            }
        }

        img {
            margin: 3rem 0 1rem;
            align-self: center;
            width: 100%;
            max-width: 800px;
        }

        p, li {
            @include screen-sm {
                font-size: 1.25rem;
            }
        }

        ul {
            margin: 0;

            @include screen-sm {
                padding-left: 4rem;
            }
        }

        li {
            padding-bottom: 1rem;
        }
    }
}
