@import "../variable";
@import "../animation";

#img-container{
    position:relative;
    height:140px;
    display: inline-block;
    text-align: center;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;

    @include screen-md {
        height:200px;
    }

    * {
        filter: brightness(0.1);
    }
}
#chu-logo{
    width:120px;
    height:auto;

    @include screen-md {
        width:180px;
    }
}
#hand{
    position:absolute;
    left:50%;
    margin-top:-35px;
    margin-left:-100px;
    opacity:0;
    transition: all 0.1s ease-in;

    @include screen-md {  
        margin-top:-50px;
        margin-left:-150px;
    }
}
#hand img{
    position:relative;
    width:40px;
    height:auto;

    @include screen-md {  
        width:60px;
    }
}
#smile{
    position:absolute;
    left:50%;
    margin-top:110px;
    width:32px;
    height:auto;
    opacity:0;
    transition: all 0.2s ease-in;
    height:auto;
    margin-left:-17px;

    @include screen-md {  
        margin-top:165px;
        width:50px;
        margin-left:-25px;
    }
}