@import "../variable";

$btn-width: 56px;

.contact-bubble{
    position: fixed;
    right: 10%;
    bottom: 2rem;
    z-index: 12;

    &.open {
        z-index: 14;
    }

    @include screen-md {
        bottom: 4rem;
    }
}

.contact-bubble button {
    background-color: $palette-grey-200;

    &:hover {
        background-color: $palette-white;
    }
}

.contact-bubble-cta {
    position: relative;
    z-index: 1;
    &::after {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        content: "";
    }
}

.contact-bubble-popup-container {
    position: absolute;
    bottom: 0;
    padding-bottom: $btn-width;
    background-color: $palette-grey-100;
    border-radius: 30px;
    width: $btn-width;
    height: 0;
    overflow: hidden;
    transition-duration: 0.2s;
    z-index: 0;
    &.show1 {
        height: 270px;
    }
    &.show2 {
        overflow: visible;
        .contact-bubble-popup-item{
            &#linkedin .contact-bubble-popup-item-text {
                width: 140px;
            }
            &#github .contact-bubble-popup-item-text {
                width: 205px;
            }
            &#email .contact-bubble-popup-item-text {
                width: 260px;
            }
            .contact-bubble-popup-item-text {
                padding-left: 1rem;
                padding-right: 3rem;
            }
        }
    }
}

.contact-bubble-popup-item {
    position: relative;
    margin-bottom: 1rem;
    width: 306px;
    float: right;

    &#linkedin {
        color: #007AB9;
    }
    &#email {
        color: #F44336;
    }
    &#facebook {
        color: #3B5998;
    }
    &#github img{
        opacity: 0.6;
    }
}

a.contact-bubble-popup-item-btn {
    position: relative;
    border-radius: 50%;
    width: $btn-width;
    height: $btn-width;
    min-width: $btn-width;
    overflow: hidden;
    padding: 3px;
    float: right;
    background-color: $palette-white;

    img {
        width: 100%;
        height: 100%;
    }

    &:hover {
        background-color: $palette-white;
    }
}

.contact-bubble-popup-item-text {
    float: right;
    line-height: calc(#{$btn-width} - 2px);
    white-space: nowrap;
    margin: 0;
    transition-duration: 0.2s;
    text-align: right;
    font-weight: 700;
    width: 0;
    overflow: hidden;
    background-color: $palette-white;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-right: -$btn-width/2;
    padding-bottom: 2px;
    box-shadow: 1px 1px 5px $palette-grey-400;
}

@for $i from 1 through 4 {
    .contact-bubble-popup-item:nth-child(#{$i}n) .contact-bubble-popup-item-text{
        transition-delay: #{$i * 0.1 - 0.1}s;
    }
}

.contact-wrapper .menu-item a {
    padding-right: 0;

    img{
        position: relative;
        height: 4rem;
        filter: invert(1) grayscale(1) contrast(99) brightness(0.9);

        &:hover {
            filter: none;
        }
    }
}