@import "../variable";

$btn-width: 56px;

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, rgba(0,0,0,0), rgba($palette-white,0.2) 30%, rgba($palette-white,0.6) 60%, rgba($palette-white,0.9) 80%, $palette-white);
    z-index: 8;
    display: none;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

    &.show {
        display: block;
    }
}

.contact-bubble{
    position: fixed;
    right: 10%;
    bottom: 2rem;
    z-index: 9;

    @include screen-md {
        bottom: 4rem;
    }
}

.contact-bubble button {
    background-color: $palette-grey-100;
}

.contact-bubble-cta {
    position: relative;
    z-index: 1;
    &::after {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        content: "";
    }
}

.contact-bubble-popup-container {
    position: absolute;
    bottom: 0;
    padding-bottom: $btn-width;
    background-color: $palette-white;
    border-radius: 30px;
    width: $btn-width;
    height: 0;
    overflow: hidden;
    transition-duration: 0.2s;
    z-index: 0;
    &.show1 {
        height: 270px;
    }
    &.show2 {
        overflow: visible;
        .contact-bubble-popup-item{
            &#linkedin .contact-bubble-popup-item-text {
                width: 180px;
            }
            &#email .contact-bubble-popup-item-text {
                width: 200px;
            }
            &#facebook .contact-bubble-popup-item-text {
                width: 90px;
            }
            &#github .contact-bubble-popup-item-text {
                width: 185px;
            }
        }
        
    }
}

.contact-bubble-popup-item {
    position: relative;
    margin-bottom: 1rem;
    overflow: hidden;
    width: 256px;
    float: right;

    &#linkedin {
        color: #007AB9;
    }
    &#email {
        color: #F44336;
    }
    &#facebook {
        color: #3B5998;
    }
    &#github img{
        opacity: 0.6;
    }
}

a.contact-bubble-popup-item-btn {
    position: relative;
    border-radius: 50%;
    width: $btn-width;
    height: $btn-width;
    min-width: $btn-width;
    overflow: hidden;
    padding: 3px;
    float: right;

    img {
        width: 100%;
        height: 100%;
    }
}

.contact-bubble-popup-item-text {
    float: right;
    line-height: $btn-width;
    white-space: nowrap;
    margin: 0;
    transition-duration: 0.2s;
    text-align: right;
    font-weight: 700;
    width: 0;
    overflow: hidden;
}

@for $i from 1 through 4 {
    .contact-bubble-popup-item:nth-child(#{$i}n) .contact-bubble-popup-item-text{
        transition-delay: #{$i * 0.1 - 0.1}s;
    }
}