@import "../variable";

.global-menu {
    position: fixed;
    top: 0;
    height: 100%;
    width: 0;
    overflow: hidden;
    background: $palette-black;
    z-index: 11;
    transition-duration: 0.5s;
    display: flex;
    align-items: center;
    box-sizing: border-box;

    &.open {
        height: 100%;
        width: 100%;
    }
}

.global-menu.left {
    left: 0;
}

.global-menu.right {
    right: 0;
}

.global-menu-inner {
    width: 100%;
    padding: 10%;
}

