@import "../variable";

.global-menu {
    position: fixed;
    top: 0;
    height: 100%;
    width: 0;
    overflow: hidden;
    background: $palette-black;
    transition-duration: 0.5s;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    z-index: 11;

    &.open {
        height: 100%;
        width: 100%;
        z-index: 13;
    }
}

.global-menu.left {
    left: 0;
}

.global-menu.right {
    right: 0;

    a:hover {
        background: transparent;
    }
}

.global-menu.justify-left {
    justify-content: flex-start;

    .global-menu-inner {
        margin-left: 10%;
    }
}

.global-menu.justify-right {
    justify-content: flex-end;

    .global-menu-inner {
        margin-right: 10%;
    }
}
