@import "../variable";

.flyer {
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 1;
    color: $palette-black;
    display: flex;
    align-items: center;

    &.noanimation {
        color: $palette-white;
    }
    &.noanimation::after {
        position: absolute;
        content: "";
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
    }

    .icons {
        display: flex;
    }
}

.flyer-left {
    left: 0;
    width: 57%;
    justify-content: flex-end;
    background: linear-gradient(290deg, transparent 20%, $palette-grey-100 0) top left;
    &.noanimation::after {
        background: linear-gradient(290deg, transparent calc(20% + 2px), $palette-black 0) top left;
    }

    .flyer-inner {
        padding-right: 10rem;
    }
}

.flyer-right {
    right: 0;
    width: 58%;
    justify-content: flex-start;
    background: linear-gradient(110deg, transparent 20%, $palette-grey-100 0) top left;
    &.noanimation::after {
        background: linear-gradient(110deg, transparent calc(20% + 2px), $palette-black 0) top left;
    }

    .flyer-inner {
        padding-left: 10rem;
    }
}

.flyer-inner {
    position: relative;
    z-index: 2;
    max-width: 600px;
}

.flyer-icon {
    position: relative;
    width: 100px;
    height: 100px;;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 40px;
        height: 40px;
        filter: invert(0.9);
        transition-duration: 0.2s;
    }
}
.flyer-icon:hover {
    background-color: $palette-grey-100;
    img {
        width: 50px;
        height: 50px;
        filter: invert(0);
    }
}