@import "../variable";

.flyer {
    position: absolute;
    bottom: 0;
    height: 450px;
    z-index: 0;
    vertical-align: top;
    padding: 5rem 0;
    background: $palette-grey-100;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    p {
        line-height: 1.7
    }

    .icons {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% + 2rem);
        margin: 0 -1rem;

        @include screen-sm {
            flex-wrap: nowrap;
        }
    }

    @include screen-md {
        height: 500px;
        display: inline-block;
    }
}

.flyer-left {
    height: 600px;
    padding-top: 0rem;
    left: 0;
    width: 100%;
    transform: translateY(-100%);
    color: $palette-black;
    background-color: $palette-grey-100;
    overflow: hidden;
    animation-name: expandHeightDown;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    display: flex;
    z-index: 1;

    .flyer-inner {
        max-width: 700px;
        padding: 0 1.5rem;
        
        p.animated {
            padding-bottom: 1rem;

            @include screen-md {
                padding-bottom: 0;
            }
        }

        @include screen-md {
            padding-right: 181px;
            padding-left: 3rem;
            max-width: 715px;
        }

        @include screen-lg {
            padding-left: 1.5rem;
        }
    }

    @include screen-md {
        height: 500px;
        padding-top: 5rem;
        width: calc(50% + 91px);
        transform: translateX(-100%);
        color: $palette-white;
        background: $palette-black;
        animation-name: expandWidth;
        justify-content: flex-end;
        align-items: center;
    }
}

.flyer-left.noanimation {
    position: relative;
    transform: translateX(0);
    animation-name: none;
    color: $palette-white;
    background: $palette-black;
    align-items: center;
    z-index: 2;

    &::after {
        z-index: 5;
        background: linear-gradient(352deg, transparent 20%, #1a1a1a 0) top left;

        @include screen-md {
            background: $palette-grey-100;
            transform: skewY(-70deg);
            left: 50%;
        }
    }

    @include screen-md {
        z-index: 0;
    }
}

.flyer-right {
    position: relative;
    width: 100%;
    color: $palette-black;
    z-index: 0;
    display: flex;
    align-items: center;

    .flyer-inner {
        padding: 0 1.5rem;
        max-width: 700px;
        overflow: hidden;

        @include screen-md {
            padding-left: 1rem;
            padding-right: 3rem;
            max-width: 558px;
        }
    }

    @include screen-sm {
        padding-bottom: 5rem;
    }

    @include screen-md {
        padding-top: 5rem;
        width: calc(50% - 91px);
        z-index: 3;
        justify-content: flex-start;
    }
}

.flyer-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h3 {
        margin-top: 0;
        white-space: pre-line;
    }
}

.flyer-icon {
    position: relative;
    width: 100px;
    height: 100px;;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 40px;
        height: 40px;
        transition-duration: 0.2s;
    }
}

.flyer-left .flyer-icon {
    img {
        filter: invert(0.9);
    }
    &:hover {
        background-color: $palette-grey-100;
        img {
            width: 50px;
            height: 50px;
            filter: invert(0);
        }
    }
}
.flyer-right .flyer-icon{
    width: 150px;
    cursor: pointer;

    img {
        width: 60%;
        height: auto;
        filter: brightness(0)
    }

    &:first-child {//special alignment for indeed icon
        padding-bottom: 0.5rem;
    }

    &:hover {
        background-color: $palette-white;
        img {
            width: 80%;
            filter: brightness(1)
        }
    }
}

.flyer-title-icon img{
    width: 150px;
    filter: brightness(0);

    @include screen-md {
        filter: brightness(0) invert(1);
    }
}

.flyer-divider {
    position: absolute;
    top: calc(50% - 80px);
    left: 0;
    height: 160px;
    width: 100%;
    z-index: 2;
    overflow: hidden;

    @include screen-md {
        top: 0;
        left: calc(50% - 91px);
        height: 100%;
        width: 182px;
    }
}
.flyer-divider:after {
    position: absolute;
    content: "";
    top: 50%;
    height: 100%;
    width: 100%;
    background: $palette-grey-100;
    transform: skewY(-8deg);

    @include screen-md {
        transform: skewY(-70deg);
    }
}


.flyer-divider .closeBtn {
    position: absolute;
    right: 0.5rem;
    bottom: 0rem;
    padding: 1rem;
    z-index: 2;
    opacity: 0.5;
    color: $palette-black;

    &:hover {
        cursor: pointer;
        opacity: 1;
    }

    @include screen-md {
        right: 1rem;
        top: 0;
        bottom: auto;
        color: $palette-white;
    }
}