@import "../variable";

.flyer {
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 0;
    display: inline-block;
    vertical-align: top;
    padding: 5rem 0;
    background: $palette-grey-100;

    &::after {
        position: absolute;
        content: "";
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
    }

    .icons {
        display: flex;
    }
}

.flyer-left {
    left: 0;
    width: calc(50% + 92px);
    z-index: 4;
    color: $palette-white;
    &.noanimation {
        position: relative;
        z-index: 3;
    }
    &::after {
        background: linear-gradient(290deg, transparent 25%, $palette-black 0) top left;
    }

    .flyer-inner {
        float: right;
        padding-right: 25%;
    }
}

.flyer-right {
    position: relative;
    width: calc(50% - 92px);
    z-index: 2;
    color: $palette-black;
    &.noanimation {
        z-index: 1;
    }

    .flyer-inner {
        padding-right: 3rem;
    }
}

.flyer-inner {
    position: relative;
    z-index: 2;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h3 {
        margin-top: 0;
        white-space: pre-line;
    }
}

.flyer-icon {
    position: relative;
    width: 100px;
    height: 100px;;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 40px;
        height: 40px;
        transition-duration: 0.2s;
    }
}

.flyer-left .flyer-icon {
    img {
        filter: invert(0.9);
    }
    &:hover {
        background-color: $palette-grey-100;
        img {
            width: 50px;
            height: 50px;
            filter: invert(0);
        }
    }
}
.flyer-right .flyer-icon{
    width: 130px;

    img {
        width: 80px;
        height: auto;
        filter: brightness(0)
    }

    &:first-child {//special alignment for indeed icon
        padding-bottom: 0.5rem;
    }

    &:hover {
        background-color: $palette-white;
        img {
            width: 100px;
            filter: brightness(1)
        }
    }
}

.flyer-title-icon img{
    width: 150px;
    filter: brightness(10);
}