@import "../variable";
@import "../animation";

.section-header {
    position: relative;
    margin: auto;
    max-width: $screen-lg;
    padding: 3rem 1.5rem 4rem;
    z-index: 1;

    &::after {
        position: absolute;
        top: 8rem;
        content: "";
        width: 5rem;
        max-width: 50%;
        height: 6px;
        transition-duration: 0.2s;
        background-color: $palette-orange;

        @include screen-sm {
            top: 7.5rem;
        }
    }

    h2 {
        margin: 1.5rem 0;
    }

    // @include screen-sm {
    //     padding-left: 2.5rem;
    //     padding-right: 2.5rem;
    // }

    // @include screen-md {
    //     padding-left: 7rem;
    //     padding-right: 7rem;
    // }
}
.section-header:hover {
    &::after {
        width: 11rem;
    }
}

.container {
    padding: 0 1.5rem;
    max-width: $screen-lg;
    margin: auto;

    @include screen-md {
        padding: 0;
    }
}

.visible {
    opacity: 1 !important;
}

#self-intro {
    &::before {
        position:absolute;
        content: "";
        top: 0;
        margin:0;
        padding:0;
        width:100%;
        height:100%;
        background-color: $palette-black;
        animation-name: fadeOut;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        z-index: 1;
    }

    &::after {
        position:absolute;
        content: "";
        top: 0;
        margin:0;
        padding:0;
        width:100%;
        height:100%;
        // background: linear-gradient($palette-black, rgba($palette-black, 0.9) 20%, rgba($palette-black, 0.6) 40%, rgba($palette-black, 0.4))
    }

    // h1 {
    //     margin: 0;
    //     animation-name: fadeInUp;
    //     animation-duration: 0.5s;
    //     animation-timing-function: ease-in-out;
    //     animation-fill-mode: forwards;
    //     animation-delay: 1.2s;
    //     opacity: 0;
    // }

    p.contentText {
        font-size: 1.125rem;
        line-height: 1.4;
        animation-name: fadeInUp;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-delay: 1.4s;
        opacity: 0;
        color: $palette-grey-500;

        @include screen-md {
            font-size: 1.5rem;
        }

        span {
            font-weight: bold;
        }
    }

    p.ctaText {
        font-size: 20px;
        margin-top: 3rem;
        animation-name: fadeInUp;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-delay: 3s;
        opacity: 0;
    }

    #img-container{
        position:relative;
        height:140px;
        display: inline-block;
        text-align: center;
        animation-name: fadeInUp;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-delay: 1s;
        opacity: 0;

        @include screen-md {
            height:300px;
        }

        * {
            filter: brightness(0.1);
        }
    }
    #chu-logo{
        width:120px;
        height:auto;

        @include screen-md {
            width:250px;
        }
    }
    #hand{
        position:absolute;
        left:50%;
        margin-top:-35px;
        margin-left:-100px;
        opacity:0;
        transition: all 0.1s ease-in;

        @include screen-md {  
            margin-top:-50px;
            margin-left:-150px;
        }
    }
    #hand img{
        position:relative;
        width:40px;
        height:auto;

        @include screen-md {  
            width:60px;
        }
    }
    #smile{
        position:absolute;
        left:50%;
        margin-top:110px;
        width:32px;
        height:auto;
        opacity:0;
        transition: all 0.2s ease-in;
        height:auto;
        margin-left:-17px;

        @include screen-md {  
            margin-top:165px;
            width:50px;
            margin-left:-25px;
        }
    }

    .section-header {
        animation-name: fadeInUp;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-delay: 1.5s;
        opacity: 0;
    }

    .container-flyer {
        padding: 0;
        margin: 0 1rem;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        overflow: hidden;;
        width: auto;
        text-align: left;
        box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.3);
        animation-name: fadeInUp;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-delay: 1.7s;
        opacity: 0;

        @include screen-md {
            flex-direction: row;
        }

        @include screen-lg {
            margin: auto;
        }
    }
}

#projects {
    .container-inner {
        display: flex;
        padding: 12px 0;

        // @include screen-lg {
        //     width: calc(100% + 2rem);
        //     margin-left: -1rem;
        // }
    }
    .container-inner-wrap {
        flex-direction: column;

        @include screen-md {
            flex-direction: row;
        }
    }
    .grid-container-left {
        flex: 1;
        margin-right: 12px;
        margin-bottom: 12px;

        @include screen-md {
            margin-bottom: 0;
        }

        @include screen-lg {
            flex: 2
        }
    }
    .grid-container-right {
        flex: 1
    }
}

#connect {
    padding-top: 100px;
    min-height: auto;
    .section-header {
        z-index: 1;
    }
    .section-header h3 {
        margin-bottom: 4rem
    }
    .section-header h2 {
        margin: 0
    }
}
