@import "../variable";
@import "../animation";

section[id*="its-"] {
    .section-header {
        @include screen-sm {
            margin-top: 5rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }

        @include screen-md {
            padding-left: 7rem;
            padding-right: 7rem;
        }
    }

    .container {
        @include screen-md {
            padding: 0 7rem;
        }
    }
}



#its-sec1 {
    position: fixed;
    width: 100%;
    background-image:url(/imgs/its.png);
    background-size: auto 110%;
    background-position: center;
    background-repeat:no-repeat;
    z-index: 0;
    opacity: 1;
    transition-duration: 0.3s;
    color: $palette-white;

    &::after {
        position:absolute;
        content: "";
        top: 0;
        margin:0;
        padding:0;
        width:100%;
        height:100%;
        animation-name: fadeIn;
        animation-duration: 0.5s;
        animation-delay: 0.5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        background-color: $palette-black;
        opacity: 0;
        // background: linear-gradient($palette-white, rgba($palette-white, 0.9) 20%, rgba($palette-white, 0.6) 40%, rgba($palette-white, 0.4))
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        transition-duration: 0.3s;
        z-index: 1;

        &.fade1 {
            transform: scale(0.9) translateY(-5rem);
            opacity: 0.7;
        }
    }
    h2 {
        text-align: center;
        margin-bottom: 0;
        animation-name: fadeInUp;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-delay: 1.2s;
        opacity: 0;
    }
    p.contentText {
        // font-size: 28px;
        margin-top: 0;
        animation-name: fadeInUp;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-delay: 1.4s;
        opacity: 0;
    }

    p.ctaText {
        font-size: 20px;
        margin-top: 3rem;
        animation-name: fadeInUp;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-delay: 3s;
        opacity: 0;
    }

    #img-container{
        position:relative;
        height:200px;
        display: inline-block;
        text-align: center;
        animation-name: fadeInUp;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-delay: 1s;
        opacity: 0;
    }
    #chu-logo{
        width:180px;
        height:auto;
    }
    #hand{
        position:absolute;
        left:50%;
        margin-top:-50px;
        margin-left:-150px;
        opacity:0;
        -webkit-transition: all 0.1s ease-in;
        -moz-transition: all 0.1s ease-in;
        -o-transition: all 0.1s ease-in;
        transition: all 0.1s ease-in;
    }
    #hand img{
        position:relative;
        width:60px;
        height:auto
    }
    #smile{
        position:absolute;
        left:50%;
        margin-top:125px;
        width:30px;
        height:auto;
        opacity:0;
        transition: all 0.2s ease-in;
        margin-top:165px;
        width:50px;
        height:auto;
        transform:scaleY(-1);
        margin-left:-25px;
    }

    &.fade2 {
        opacity: 0.8;
    }

    &.fade3 {
        opacity: 0;
    }
}
#its-sec1-placeholder {
    position: relative;
    height: 100vh;
}

#its-sec2 {
    z-index: 3;
    min-height: 0;

    .container{
        background: $palette-white;
        border-radius: 20px;
        padding-top: 3rem;

        @include screen-md {
            padding-top: 7rem;
        }

        @include screen-md {
            padding-left: 5rem;
            padding-right: 7rem;
        }
    }

    .subheader {
        @include screen-md {
            width: 65%;
        }
    }

    .playerStart {
        margin-top: 3rem;
    }

    .endOfSec2 {
        margin-bottom: 3rem;
    }
}

#its-sec3 {
    z-index: 2;
    background: $palette-white;
    
    &::after {
        position:absolute;
        content: "";
        top: -50vh;
        margin:0;
        padding:0;
        width:100%;
        height:50vh;
        background: linear-gradient(rgba(255, 255, 255, 0) 0, rgba(255,255,255, 0.4) 20%, rgba(255,255,255, 0.9) 60%, white 70%)
    }

    .container {
        padding-bottom: 5rem;

        @include screen-md {
            padding-bottom: 10rem;
        }
    }

    p {
        margin: 0 0 5rem;

        &.lead {
            margin: 0 0 1.5rem;
        } 
    }

    .img-its1 {
        width: 100%;
    }
}

#its-sec4 {
    z-index: 2;
    background: $palette-grey-100;
    box-sizing: border-box;
    overflow: hidden;
    min-height: 0;

    .container {
        padding-bottom: 5rem;
    }

    p {
        margin: 0;

        &.lead {
            margin: 0 0 1.5rem;
        } 

        @include screen-sm {
            margin-bottom: 5rem;
        }
    }
}

#its-sec5 {
    z-index: 2;
    background: $palette-white;
    box-sizing: border-box;
    overflow: hidden;
    min-height: 0;

    p {
        margin: 5rem 0;

        &.lead {
            margin: 0 0 1.5rem;
        }

        @include screen-sm {
            margin-bottom: 10rem;
        }
    }

    .img-its2 {
        width: 56.9%;
    }
    .img-its3 {
        width: 43.1%;
    }
}

#its-sec6 {
    z-index: 2;
    background: $palette-grey-100;
    box-sizing: border-box;
    overflow: hidden;
    min-height: 0;

    p {
        margin: 0;
        line-height: 2rem;
        @include screen-sm {
            width: 65%;
        }
    }

    .tech-imgs-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 2rem 0 5rem -0.5rem;
        
        @include screen-sm {
            width: 65%;
            margin-top: 7rem;
            margin-bottom: 8rem;
        }

        @include screen-md {
            width: calc(100% + 1rem);
        }
    }

    .tech-imgs {
        height: 50px;
        flex-shrink: 0;
        flex-grow: 0;
        margin: 0.5rem;
        transition-duration: 0.2s;
        filter: grayscale(1) brightness(0) contrast(0.2);

        &:hover {
            filter: none;
        }

        @include screen-md {
            justify-content: space-between;
        }
    }

}

#its-sec7 {
    z-index: 2;
    background: $palette-white;
    box-sizing: border-box;
    overflow: hidden;
    min-height: 0;

    p {
        margin: 0 0 5rem;
       
        &:first-child {
            @include screen-sm {
                width: 65%;
            }
        }

        &:last-child {
            @include screen-sm {
                margin-bottom: 10rem;
            }
        }

        &.lead {
            margin: 0 0 1.5rem;
        } 
    }

    .imp-imgs {
        width: 100%;
        margin-bottom: 3rem;
    }
}

#its-sec8 {
    z-index: 2;
    background: $palette-grey-100;
    box-sizing: border-box;
    overflow: hidden;
    min-height: 0;

    p {
        margin: 0 0 5rem;

        &.lead {
            margin: 0 0 1.5rem;
        }

        &:last-child {
            @include screen-sm {
                margin-bottom: 10rem;
            }
        }
    }

    .outcome-imgs-wrapper {
        position: relative;
        margin-bottom: 5rem;
        box-shadow: 0 5px 8px $palette-grey-400;
        background-color: $palette-white;
        border-radius: 9px;
        overflow: hidden;

        &:last-child {
            box-shadow: none;
            background-color: transparent;
        }

        @include screen-md {
            width: 70%;
            margin-left: 15%;
        }
    }

    .outcome-imgs {
        width: 100%;
    }
}

#its-sec9 {
    z-index: 2;
    background: $palette-white;
    box-sizing: border-box;
    overflow: hidden;
    min-height: 0;

    p {
        margin: 0 0 5rem;

        &.lead {
            margin: 0 0 1.5rem;
        }

        @include screen-sm {
            margin-bottom: 10rem;
        }
    }
}

.its-footer {
    position: relative;
    padding-top: 1rem;
    color: $palette-grey-400;
    background-color: $palette-black;
    max-width: none;
}