@import "../variable";

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    // color: $palette-white;
    background-color: $palette-white;    
    box-shadow: 0 1px 5px $palette-grey-400;
    z-index: 9;
    transition-duration: 0.2s;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.nav.scrolled {
    top: -5rem;
    box-shadow: none;
}
.nav-logo {
    width: 4rem;
    height: 4rem;
    background-image:url(/favicon.png);
	background-size: cover;
    background-repeat:no-repeat;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
}

.nav-hamburger {
    cursor: pointer;
    position: fixed;
    left: 16px;
    top: 19px;
    padding: 8px 0;
    z-index: 12;
    opacity: 0;
    transform: translateY(20px);
    transition-duration: 0.3s;
    animation-name: fadeInUp;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;

    @include screen-md {
        left: 24px;
    }

    .nav-hamburger-bars {
        width: 20px;
        height: 2px;
        margin: 8px 8px 16px;
        background-color: $palette-black;
        position: relative;
        transition: background-color 320ms ease-in-out;

        &::before,
        &::after {
            content: " ";
            display: block;
            width: 120%;
            height: 2px;
            background-color: $palette-black;
            position: absolute;
            z-index: -1;
            transition: transform 320ms ease-in-out, background-color 200ms ease-in-out;
        }

        &::before {
            transform-origin: top right;
            background-color: $palette-white;
        }

        &::after {
            transform-origin: bottom right;
            top: 8px;
        }
    }
}

.nav-hamburger.scrolled {
    top: -5rem;
}

.nav-hamburger.open {
    z-index: 14;
    .nav-hamburger-bars {
        background-color: transparent;

        &::before,
        &::after {
            background-color: $palette-white;
        }

        &::before {
            transform: rotate(45deg) translate(4px, 14px);
        }

        &::after {
            transform: rotate(-45deg) translate(4px, -14px);
        }
    }
}

.menu-item {
    text-align: left;
    width: 100%;
    margin-bottom: 0.5rem;

    a {
        font-size: 1.5rem;
        font-weight: bold;
        color: $palette-grey-200;
        padding: 1rem 3rem;
        text-transform: uppercase;
        border-radius: 10px;
        transition-duration: 0.3s;
        width: 100%;
    }

    a:hover {
        color: $palette-white;
        background: $palette-grey-700;
    }
}