@import "../variable";

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5.3125rem;
    color: $palette-white;
    background-color: $palette-black;    
    box-shadow: 0 1px 8px $palette-black;
    z-index: 9;
    transition-duration: 0.3s;
    overflow: hidden;
}

.nav.scrolled {
    top: -5.3125rem;
    box-shadow: none;
}

.nav.stuck{
    overflow: visible;
    height: 26.5625rem;
}

.nav-container {
    max-width: 1300px;
    margin: auto;
}

.logo-wrapper {
    @media (max-width: 600px) {
        order: -1;
    }
}

.nav-item {
    text-align: center;
    font-size: 1rem;
    animation-name: fadeInUp;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;

    &.logo {
        position: relative;
        animation: none;
        opacity: 1;
        padding: 0;
        height: 5.3125rem;

        .logo-text {
            position: relative;
            width: 3rem;
            font-size: 2rem;
            padding: 0;
            animation-name: headerLogoShrink;
            animation-duration: 0.1s;
            animation-timing-function: ease-in-out;
            animation-delay: 0.9s;
            animation-fill-mode: forwards;
            background-color: $palette-black;
            z-index: 2;

            &::after {
                position: absolute;
                content: "TC";
                height: 100%;
                left: 50%;
                transform: translateX(-50%);
                color: $palette-white;
                width: 2.7rem;
                animation-name: logoFadeInDown;
                animation-duration: 1s;
                animation-timing-function: ease-in-out;
                animation-fill-mode: forwards;
                padding: 1.3rem 0;
            }
        }

        &::after {
            position: absolute;
            content: "";
            height: 4rem;
            width: 80px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border: 1px solid $palette-white;
            border-radius: 5px;
            z-index: 1;
            animation-name: logoFadeInUp;
            animation-duration: 1s;
            animation-fill-mode: forwards;
        }
    }

    a, a:focus, a:visited {
        color: $palette-grey-400;
    }

    a {
        width: 100%;
        height: 100%;
        padding: 2rem 0;
        text-transform: capitalize;
        font-size: 1rem;
        line-height: 1.3;
        vertical-align: top;
    }

    a:hover {
        color: $palette-white;
    }
}

.nav-hamburger {
    cursor: pointer;
    position: absolute;
    right: 2rem;
    top: 2rem;
    height: 1.2rem;
    width: 1.5rem;
    z-index: 999;

    .nav-hamburger-bars {
        width: 100%;
        height: 3px;
        margin: 8px 0;
        background-color: $palette-white;
        position: relative;
        transition: background-color 320ms ease-in-out;

        &::before,
        &::after {
            content: " ";
            display: block;
            width: 120%;
            height: 3px;
            background-color: $palette-white;
            position: absolute;
            z-index: -1;
            transition: transform 320ms ease-in-out, background-color 200ms ease-in-out;
        }

        &::before {
            transform-origin: top right;
            top: -8px;
        }

        &::after {
            transform-origin: bottom right;
            top: 8px;
        }
    }

    @media (min-width: 600px) {
        display: none;
    }
}

.nav.stuck .nav-hamburger {
    .nav-hamburger-bars {
        background-color: transparent;

        &::before,
        &::after {
            background-color: $palette-white;
        }

        &::before {
            transform: rotate(45deg) translate(7px, 17px);
        }

        &::after {
            transform: rotate(-45deg) translate(9px, -19px);
        }
    }
}