.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes handTada {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
  
    10%, 20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }
  
    30%, 50%, 70%, 90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
  
    40%, 60%, 80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
  
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.handTada {
    -webkit-animation-name: handTada;
    animation-name: handTada;
}

@keyframes fadeInUp {
    0% {opacity: 0;transform: translateY(20px)}
    100% {opacity: 1;transform: translateY(0)}
}

@keyframes logoFadeInDown {
    0% {opacity: 0;transform: translate(-50%, -10px)}
    90% {opacity: 1;transform: translate(-50%, 0)}
    100% {opacity: 1;transform: translate(-50%, 0)}
}

@keyframes logoFadeInUp {
    0% {opacity: 0;width: 80px;height: 4rem;border-width: 1px;}
    90% {opacity: 1;width: 80px;height: 4rem;border-width: 1px;}
    100% {opacity: 1;width: 65px;height: 3.2rem;border-width: 2px;}
}

@keyframes headerLogoShrink {
    0% {width: 4rem}
    100% {width: 2.7rem}
}

@keyframes expandWidth {
    0% {transform: translateX(-100%); filter: brightness(5)}
    70% {transform: translateX(0); filter: brightness(1.5)}
    100% {transform: translateX(0); filter: brightness(1)}
}

.come-in {
    transform: translateY(150px);
    animation: come-in 1s ease forwards;
}
.come-in:nth-child(odd) {
    animation-duration: 0.7s; /* So they look staggered */
}
.already-visible {
    transform: translateY(0);
    animation: none;
}

@keyframes come-in {
    to { transform: translateY(0); }
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes scrollAndFade {
    0% {transform: translate(-50%, -30px); opacity: 0;}
    // 10% {transform: translate(-50%, -30px); opacity: 1;}
    40% {transform: translate(-50%, -5px); opacity: 1;}
    80% {transform: translate(-50%, -5px); opacity: 0;}
    100% {transform: translate(-50%, -5px); opacity: 0;}
}