// Palette
$palette-black: #1a1a1a;
$palette-white: #fff;

$palette-grey-700: #2d2d2d;
$palette-grey-600: #767676;
$palette-grey-500: #999;
$palette-grey-400: #ccc;
$palette-grey-300: #ddd;
$palette-grey-200: #ececec;
$palette-grey-100: #f6f6f6;
$palette-grey-10: #fafafa;

$palette-blue: #6ED3FF;
$palette-blue-light: #EBFEFF;
$palette-blue-400: #1497ff;
$palette-blue-500: #085ff7;
$palette-blue-600: #0044e3;

$palette-blue-alt: #77c;

$palette-orange: #ff5a1f;
$palette-orange-light: #f6b26b;
$palette-red: #db183f;

// Breakpoints
$screen-xs: 0;
$screen-sm: 600px;
$screen-md: 960px;
$screen-lg: 1280px;
$screen-xl: 1920px;

@mixin screen-xs {
    @media (min-width: $screen-xs) {
        @content;
    }
}
@mixin screen-sm {
    @media (min-width: $screen-sm) {
        @content;
    }
}
@mixin screen-md {
    @media (min-width: $screen-md) {
        @content;
    }
}
@mixin screen-lg {
    @media (min-width: $screen-lg) {
      @content;
    }
}
@mixin screen-xl {
    @media (min-width: $screen-xl) {
        @content;
    }
}