@import "../variable";

div.portfolio-card,
.placeHolder-card {
    min-height: 15rem;

    @include screen-sm {
        min-height: 20rem;
    }
}

div.portfolio-card {
    position: relative;
    transform: translateY(150px);
    overflow: hidden;
    transition: left 0.5s, top 0.5s, width 1s, height 1s;
    box-shadow: 0px 2px 9px rgba(0,0,0,0.3);

    a {
        color: $palette-black;
    }
    h4 {
        position: relative;
        font-weight: normal;
        padding-bottom: 1.125rem;
        margin: 0 0 1.25rem 0;
        line-height: 1;
        &::after {
            position: absolute;
            content: "";
            left: 0;
            bottom: -3px;
            width: 0;
            height: 3px;
            transition-duration: 0.5s;
            background-color: $palette-black;
        }
    }
    .portfolio-card-content {
        display: flex;
    }
    p {
        position: relative;
        font-size: 1rem;
        padding-top: 1px;
        margin: 0 1rem 0 0;
        height: 48px;
        overflow: hidden;
        display: none;
        text-overflow: ellipsis;
        flex-grow: 1;
        background-color: $palette-white;

        @include screen-md {
            display: block;
        }
    }
    .portfolio-card-btn {
        height: 3rem;
        min-width: 150px;
        line-height: 1;
        text-align: center; 
        text-transform: uppercase;
        border-radius: 30px;
        background-color: $palette-grey-100;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            margin-left: 0.5rem;
        }
    }

    &:hover {
        h4::after {
            width: 150px;
        }
        .portfolio-card-img{
            transform: scale(1.1)
        }
        .portfolio-card-text-wrapper {
            transform: translateY(0);
        }
    }
}

.portfolio-card.open{
    position: fixed;
    transform: translateY(0);
    z-index: 4;
}

.portfolio-card.MuiPaper-rounded {
    border-radius: 20px;
}

.portfolio-card-large {
    height: 100%;
}

.portfolio-card-container {
    height: 100%;
    cursor: pointer;

    .portfolio-card-img {
        position: absolute;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
        transition-duration: 0.5s;
        flex-shrink: 0;
        min-width: 100%;
        min-height: 100%
    }
}

.portfolio-card-text-wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1.5rem;
    background-color: $palette-white;
    transition-duration: 0.2s;
    transform: translateY(5rem);

    &.open {
        transition-duration: 1s;
        transform: translateY(100%) !important;
    }
}
