html,
body {
    height: 100%;
    overflow-x: hidden
}

body {
    font-size: 62.5%;
}

.container {
    text-align: center
}

.sec-title {
    color: #1a1a1a;
}

.sec-title hr {
    border-color: #1a1a1a;
}

.sec-title h2 {
    font-size: 6rem;
}
.sec-title p {
    font-size: 2rem;
    text-align: center;
}
p {
    color: #1a1a1a;
    font-size: 2rem;
    line-height: 2.5rem;
}
p span {
    font-size: 2rem;
    font-weight: 700;
}
@media(max-width:480px) {
    .sec-title h2 {
        font-size: 3rem;
    }
    .sec-title p {
        font-size: 1.5rem;
        text-align: center;
    }
    p {
        color: #1a1a1a;
        font-size: 1.5rem;
        line-height: 2rem;
    }
    p span {
        font-size: 1.5rem;
        font-weight: 700;
    }
    p a{
        font-size: 1.5rem;
    }
}
.content-p {
    position: relative;
    left: 10%;
    width: 80%;
    text-align: justify;
}

a {
    color: #1a1a1a;
    font-size: 2rem;
    opacity: 0.6
}

a:hover {
    color: #991B1E;
    cursor: pointer;
    opacity: 1
}

a:active,
a:focus {
    color: #1a1a1a;
}

img{
    max-width:100%;
}
.dd {
    top: 60px;
    width: 200px;
    font-size: 1rem;
    text-align: justify
}

.li1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.li2 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.li3 {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.li4 {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.cmu {
    height: 100px;
    margin: 10px
}

.return-icon {
    position: absolute;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    color: white;
    padding-top: 6px;
    background-color: #aaaaaa;
    box-shadow: 3px 3px 10px #aaaaaa;
}
.return-icon i{
    margin-top:5px;
    font-size: 24px;
}
.return-icon:hover {
    color: #333333;
    cursor: pointer;
    background-color: white;
    box-shadow: 3px 3px 10px #888888;
}

.return-icon-hint {
    position: absolute;
    bottom: -25px;
    height: 20px;
    width: 50px;
    font-size: 1rem;
    color: #333333;
    display: none;
}

.return-icon:hover .return-icon-hint {
    display: block;
}

#sec1 {
    position: relative;
    min-height: 100%;
    padding: 0
}

#sec1-down {
    display: none
}

.sec1-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1a1a1a;
}

.sec1-cover .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.sec1-cover .logo0 {
    width: 70px;
}

.sec1-cover .logo1 {
    -webkit-transform: translate(-6px, 5px) rotate(-160deg);
    /* Chrome, Safari, Opera */
    transform: translate(-6px, 5px) rotate(-160deg);
}

@-webkit-keyframes dashboard-anim {
    from {
        -webkit-transform: translate(-6px, 5px)rotate(-160deg);
        /* Chrome, Safari, Opera */
        transform: translate(-6px, 5px)rotate(-160deg);
    }
    20% {
        -webkit-transform: translate(-6px, 5px)rotate(-40deg);
        /* Chrome, Safari, Opera */
        transform: translate(-6px, 5px)rotate(-40deg);
    }
    70% {
        -webkit-transform: translate(-6px, 5px)rotate(-100deg);
        /* Chrome, Safari, Opera */
        transform: translate(-6px, 5px)rotate(-100deg);
    }
    to {
        -webkit-transform: translate(-6px, 5px)rotate(30deg);
        /* Chrome, Safari, Opera */
        transform: translate(-6px, 5px)rotate(30deg);
    }
}

@keyframes dashboard-anim {
    from {
        -webkit-transform: translate(-6px, 5px)rotate(-160deg);
        /* Chrome, Safari, Opera */
        transform: translate(-6px, 5px)rotate(-160deg);
    }
    20% {
        -webkit-transform: translate(-6px, 5px)rotate(-40deg);
        /* Chrome, Safari, Opera */
        transform: translate(-6px, 5px)rotate(-40deg);
    }
    70% {
        -webkit-transform: translate(-6px, 5px)rotate(-100deg);
        /* Chrome, Safari, Opera */
        transform: translate(-6px, 5px)rotate(-100deg);
    }
    to {
        -webkit-transform: translate(-6px, 5px)rotate(30deg);
        /* Chrome, Safari, Opera */
        transform: translate(-6px, 5px)rotate(30deg);
    }
}

.dashboard-anim {
    -webkit-animation-name: dashboard-anim;
    animation-name: dashboard-anim;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 1s;
    /* Safari 4.0 - 8.0 */
    animation-delay: 1s;
    -webkit-transform-origin: 25% 65%;
    /* Chrome, Safari, Opera */
    transform-origin: 25% 65%;
}

.sec1nav-brand,
#sec1-content {
    display: block;
    opacity: 1;
}

.sec1nav-brand a {
    opacity: 1;
}

.sec1nav div,
.sec1nav hr {
    color: #1a1a1a !important;
    border-color: #1a1a1a !important;
}

#sec1-content {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#sec1-content img {
    position: absolute;
    height: 100px;
}

#sec1-content .left-panel,
#sec1-content .right-panel {
    position: absolute;
    top: 0;
}

#sec1-content .left-panel {
    left: 0;
    height: 100%;
    width: 17%;
    -webkit-transform: translateX(-250px);
    /* Chrome, Safari, Opera */
    transform: translateX(-250px);
}

#sec1-content .left-panel img {
    position: relative;
    top: 40%;
    width:auto;
    text-align: center
}

#sec1-content .right-panel {
    top: 40%;
    left: 100%;
    height: 120px;
    width: 150%;
    background-color: white;
    text-align: left;
}

#sec1-content .right-panel img {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    width:auto;    
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}

.dashboardtext {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    height: 120px;
    padding-top: 30px;
    font-size: 40px;
    font-weight: 700;
    line-height: 30px;
}

.dashboardtext div,
.dashboardtext span {
    opacity: 0;
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}

.dashboardtext span {
    font-size: 14px;
    padding: 0;
    text-transform: capitalize;
}

@-webkit-keyframes sec1-leftp-anim {
    from {
        -webkit-transform: translateX(-250px);
        /* Chrome, Safari, Opera */
        transform: translateX(-250px);
    }
    to {
        -webkit-transform: translateX(0);
        /* Chrome, Safari, Opera */
        transform: translateX(0);
    }
}

@keyframes sec1-leftp-anim {
    from {
        -webkit-transform: translateX(-250px);
        /* Chrome, Safari, Opera */
        transform: translateX(-250px);
    }
    to {
        -webkit-transform: translateX(0);
        /* Chrome, Safari, Opera */
        transform: translateX(0);
    }
}

.sec1-leftp-anim {
    -webkit-animation-name: sec1-leftp-anim;
    animation-name: sec1-leftp-anim;
    -webkit-animation-delay: 3.5s;
    /* Safari 4.0 - 8.0 */
    animation-delay: 3.5s;
}

@-webkit-keyframes sec1-rightp-anim {
    from {
        -webkit-transform: translateX(0);
        /* Chrome, Safari, Opera */
        transform: translateX(0);
    }
    40% {
        -webkit-transform: translateX(-55%);
        /* Chrome, Safari, Opera */
        transform: translateX(-55%);
    }
    60% {
        top: 40%;
        height: 120px;
        -webkit-transform: translateX(-55%);
        /* Chrome, Safari, Opera */
        transform: translateX(-55%);
    }
    to {
        top: 0;
        height: 100%;
        -webkit-transform: translateX(-100%);
        /* Chrome, Safari, Opera */
        transform: translateX(-100%);
    }
}

@keyframes sec1-rightp-anim {
    from {
        -webkit-transform: translateX(0);
        /* Chrome, Safari, Opera */
        transform: translateX(0);
    }
    40% {
        -webkit-transform: translateX(-55%);
        /* Chrome, Safari, Opera */
        transform: translateX(-55%);
    }
    60% {
        top: 40%;
        height: 120px;
        -webkit-transform: translateX(-55%);
        /* Chrome, Safari, Opera */
        transform: translateX(-55%);
    }
    to {
        top: 0;
        height: 100%;
        -webkit-transform: translateX(-100%);
        /* Chrome, Safari, Opera */
        transform: translateX(-100%);
    }
}

.sec1-rightp-anim {
    -webkit-animation-name: sec1-rightp-anim;
    animation-name: sec1-rightp-anim;
    -webkit-animation-delay: 3.5s;
    /* Safari 4.0 - 8.0 */
    animation-delay: 3.5s;
}

@-webkit-keyframes fadeIn-light {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.9;
    }
}

@keyframes fadeIn-light {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.9;
    }
}

.fadeIn-light {
    -webkit-animation-name: fadeIn-light;
    animation-name: fadeIn-light;
}

.animated-forwards-slow {
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#sec2,
#sec2-content {
    height: inherit;
    max-height: 800px;
    margin: 0;
    padding: 0;
}

.skip-youtube {
    position: absolute;
    left: 1rem;
    bottom: 2rem;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2px 10px;
    font-size: 1.5rem;
    color: #3b4047;
    text-align: left;
    z-index: 1;
    display: none
}

.skip-youtube span {
    font-size: 0.8rem;
}

.skip-youtube:hover {
    cursor: pointer;
    background-color: white;
}
.replay-youtube i {
    font-size: 2rem;
    opacity: 0.7
}

.replay-youtube i:hover {
    cursor: pointer;
    color: #991B1E;
    opacity: 1
}

.player-cover {
    position: absolute;
    width: 100%;
    height: inherit;
    top: 0;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center
}

.player-cover-before {
    z-index: 3;
}

.player-cover-inner {
    position: relative;
    top: 50%;
    left: 50%;
    height: inherit;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 1px solid rgba(255, 255, 255, 0)
}

.player-cover-before-inner {
    height: 400px;
    width: 400px;
    max-width:100%;
    padding-top: 20px
}

.player-cover-before-inner .hint {
    position: absolute;
    bottom: 2px;
    font-size: 14px;
    width: 100%;
    text-align: center;
}

.player-cover-before-inner:hover {
    cursor: pointer;
    background-color: white;
    box-shadow: 3px 3px 9px #aaaaaa;
}

.player-cover-before-inner:hover .hint {
    display: none
}

.player-cover-before h1 {
    font-size: 20rem;
    font-weight: 700;
}
.player-cover-before div {
    font-size: 2rem;
}

.player-cover-after {
    z-index: 2;
    top:0;
    display: none;
    opacity: 0;
    height: inherit;
    padding: 0 10px;
    overflow-y: hidden
}
.player-cover-after-inner{
    max-height: 400px;
}
@media(max-width:480px) {
    .player-cover-after-inner{
        max-height: none;
    }
}
.player-cover-after h1 {
    font-size: 6rem;
    font-weight: 700;
}

.player-cover-after p {
    font-size: 2rem;
    margin-bottom: 4rem;
}

.player-cover-after ul {
    display: inline-block;
    color: black;
    text-align: justify;
    margin-bottom: 1rem;
}

.player-cover-after ul li {
    display: block;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: black;
}

#sec3,
#sec5 {
    height: auto;
    background: #f2f2f2;
    color: #1a1a1a;
    padding-bottom: 60px;
}

#sec3 {
    z-index: 3;
}

#sec6-sub,
#sec8 {
    padding-bottom: 100px;
}

#sec6-sub {
    height: auto;
    background: white;
}

#sec7 {
    height: auto;
    background: #f2f2f2;
    padding-bottom: 100px;
}

.dashboard-img {
    max-height: 400px;
    margin: 40px 0;
}

.ar-tools {
    margin: 10px;
    height: 50px;
}

#sec5 .img-wrapper {
    position: relative;
    left: 10%;
    width: 80%;
    padding: 10px 0 60px 0;
}

#sec5-content {
    padding-bottom: 50px;
}

#sec8 a {
    opacity: 1;
    font-weight: 700;
}
footer{
    padding: 10px;
    overflow: hidden;
    height: auto
}
footer a {
    color: inherit;
    font-size: inherit;
    opacity: 1
}