*, *::after {
    box-sizing: border-box;
}

a, a:focus, a:visited {
    display: inline-block;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

p {
    font-size: 1.125rem;
}