@import "./components/variable";

html, body {
    overflow-x: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

section {
    position: relative;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
}

*, *::after {
    box-sizing: border-box;
}

a, a:focus, a:visited {
    display: inline-block;
    text-decoration: none;
}

h1 {
    font-size: 2.5rem;

    @include screen-sm {
        font-size: 4rem;
    }

    @include screen-md {
        font-size: 5rem;
    }
}

h2{
    font-size: 1.5rem;

    @include screen-sm {
        font-size: 2.5rem;
    }
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;

    @include screen-sm {
        font-size: 1.125rem;
    }
}
