@import "./components/variable";

html, body {
    overflow-x: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

section {
    position: relative;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
}

*, *::after {
    box-sizing: border-box;
}

a, a:focus, a:visited {
    display: inline-block;
    text-decoration: none;
}

h1 {
    font-size: 2.5rem;

    @include screen-sm {
        font-size: 4rem;
    }
}

h2{
    font-size: 2rem;

    @include screen-sm {
        font-size: 2.5rem;
    }
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 0;

    @include screen-sm {
        font-size: 2rem;
        margin-bottom: 1em;
    }
}

h4 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;

    @include screen-sm {
        font-size: 1.125rem;
    }

    &.lead {
        font-size: 1.25rem;
        font-weight: bold;

        @include screen-sm {
            font-size: 1.5rem;
        }
    }
}

.text-blue {
    color: $palette-blue-600;
}

.text-orange {
    color: $palette-orange;
}

.text-cmu {
    color: #991b1e;
}